<div class="master-container" >
  <div class="mini-container" >
    <h4 class="mini-contianer-heading" >Number of Nodes</h4>
      <h2>{{ data$.num_nodes }}</h2>
   
  </div>
  <div class="mini-container" >
    <h4 class="mini-contianer-heading">Number of Channels</h4>
    <h2>{{ data$.num_channels}}</h2>
  </div>
  <div class="mini-container">
    <h4 class="mini-contianer-heading">Network Capacity</h4>
    <h2>{{ data$.total_network_capacity }}</h2>
  </div>
 
</div>

<div class="master-container">
  <div class="MiniContainer" data="Top Locations">
    <div class="MiniContainer" data="Top Capacity Increase">
      <div class="MiniContainer" data="Top Channel Count Increase"></div>
    </div>
  </div>
</div>

<ng-template #loadingSponsors>
  <br>
  <div class="spinner-border text-light"></div>
</ng-template>
