.master-container{
  justify-content:center;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

.mini-container{
  width: 275.5px;
  height: 220px;
  background-color: #1d1f31;
  color: white;
  margin: 10px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius:.25rem;
  text-align: center;
}



