<div class="master-container" >
    <div class='mini-container'>
      <h4 class='mini-contianer-heading'>Number of Nodes</h4>
      <h1>2745</h1>
    </div>
    <div class='mini-container'>
      <h4 class='mini-contianer-heading'>Number of Channels</h4>
      <h1>7215</h1>
    </div>
    <div class='mini-container'>
      <h4 class='mini-contianer-heading'>Network Capacity</h4>
      <h3>46,020,279,438</h3>
    </div>
    <div class='mini-container'>
      <h4 class='mini-contianer-heading'>Node Countdown</h4>
      <h3>989,829</h3>
    </div>
    </div>
    
  <div class="master-container">
    <div class='MiniContainer' data="Top Locations">
    <div class='MiniContainer' data="Top Capacity Increase">
    <div class='MiniContainer' data="Top Channel Count Increase">
  </div>